[package]
name = "zenith"
version = "0.10.1"
authors = ["Benjamin Vaisvil"]
edition = "2018"
description = "Similar to top or htop but with CPU, Network Usage, and Disk Usage charts."
readme = "README.md"
homepage = "https://github.com/bvaisvil/zenith"
repository = "https://github.com/bvaisvil/zenith"
license = "MIT"
keywords = ["system monitor", "tui", "process monitor", "sysinfo"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = []
nvidia = ["nvml-wrapper"]

[dependencies]
tui = { version = "0.12.*", features = ["crossterm"], default-features = false }
crossterm = "0.17.5"
byte-unit = "3.0.3"
users = "0.9.1"
num-derive = "0.3.0"
num-traits = "0.2"
heim = {version = "0.1.0-beta.1", features = ["full"]}
futures = "^0.3.5"
gumdrop = {version = "0.8", features = ["default_expr"]}
chrono = "0.4.*"
sysinfo = {git = "https://github.com/bvaisvil/sysinfo.git", branch="zenith_changes_15.1"}
dirs = "2.0.*"
serde = {version="1.0.104", features=["derive"]}
serde_derive = "1.0.104"
bincode = "1.2.1"
battery = "0.7.*"
signal-hook = "0.1.*"
log = { version = "0.4.*"}
env_logger = { version = "0.7.*", default-features = false}
libc = "0.2"
nvml-wrapper = { version = "0.6.0", optional = true }
