name: Release
on: 
  push:
    #tags:
    #  - "**"
  workflow_dispatch:
env:
  RUST_BACKTRACE: 1
jobs:
  release:
    name: Release - ${{ matrix.platform.os-name }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os-name: Linux-x86_64-musl
            runs-on: ubuntu-22.04
            target: x86_64-unknown-linux-musl
            args: --locked --release --features nvidia
            command: "build"
            strip: true

          - os-name: Linux-x86_64-gnu-nvidia
            runs-on: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            args: --locked --release --features nvidia
            command: "build"
            strip: true

          - os-name: Linux-x86_64-gnu-nvidia-deb
            runs-on: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            args: --locked -- --features nvidia
            command: "deb"
            strip: false

          - os-name: Linux-aarch64-musl
            runs-on: ubuntu-22.04
            target: aarch64-unknown-linux-musl
            command: "build"
            args: --locked --release
            strip: true

          # presently broken  
          - os-name: Linux-aarch64-gnu
            runs-on: ubuntu-24.04
            target: aarch64-unknown-linux-gnu
            strip: true
            command: "build"
            args: --locked --release

          - os-name: macOS-x86_64
            runs-on: macOS-latest
            target: x86_64-apple-darwin
            command: "build"
            args: --locked --release
            strip: true

          - os-name: aarch64-apple-darwin
            runs-on: macOS-latest
            target: aarch64-apple-darwin
            command: "build"
            args: --locked --release
            strip: true

        toolchain:
          - stable
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install cargo-deb
        shell: bash
        run: | 
          cargo install cargo-deb
        if: ${{ matrix.platform.command == 'deb' }}
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: ${{ matrix.platform.command }}
          target: ${{ matrix.platform.target }}
          toolchain: ${{ matrix.toolchain }}
          args:
            "${{matrix.platform.args}}"
          strip: ${{ matrix.platform.strip }}
          use-rust-cache: false
      - name: Publish
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: zenith
          release-tag-prefix: 0
          changes-file: ~
          action-gh-release-parameters: "{\"draft\": true}"
          target: ${{ matrix.platform.target }}
        if: ${{ matrix.platform.command != 'deb' }}
      - name: Copy Deb file
        run: |
          pwd
          mkdir -p target/${{ matrix.platform.target }}/debian/release
          cp target/debian/zenith_0.14.2-1_amd64.deb target/${{ matrix.platform.target }}/debian/release/zenith_0.14.2-1_amd64.deb
        if: ${{ matrix.platform.command == 'deb' }}
      - name: Publish Deb
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: zenith_0.14.2-1_amd64.deb
          release-tag-prefix: 0
          changes-file: ~
          action-gh-release-parameters: "{\"draft\": true}"
          target: ${{ matrix.platform.target }}/debian
        if: ${{ matrix.platform.command == 'deb' }}
